workflow/esg-risk-scoring.json
{
  "name": "ESG Risk Scoring System_demo",
  "nodes": [
    {
      "parameters": {
        "formTitle": "ESG Risk Scoring System",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload CSV File",
              "fieldType": "file",
              "acceptFileTypes": ".csv"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -320,
        0
      ],
      "id": "5ebf511f-c4cb-4b2a-bfb2-55884cfd4f60",
      "name": "On form submission",
      "webhookId": "11c250e9-f9a1-4355-9ccf-f5bcf5218728"
    },
    {
      "parameters": {
        "binaryPropertyName": "Upload_CSV_File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        0
      ],
      "id": "c225a4f0-6ab7-4bf0-9278-f9eafd3582e7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a96743b2-8d3d-4a2a-af7c-75145f5eb0db",
              "leftValue": "={{ $json.emissions_quantity }}",
              "rightValue": 40000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0aa4aa46-9c2b-45ae-97a5-403afe6536b4",
              "leftValue": "={{ $json.difficulty_score }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        0
      ],
      "id": "09722153-447d-4c21-ba05-a43ebff3c5ea",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "375898b5-0e9d-4cd6-bdd2-d91f01794ae4",
              "name": "risk_level",
              "value": "High Risk",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -128
      ],
      "id": "5cf6a8a7-38ec-439f-bae3-2cba8a8622c1",
      "name": "High Risk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "319c97da-568c-4e50-ae73-ef27a0b2a94c",
              "leftValue": "={{ $json.emissions_quantity }}",
              "rightValue": 20000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "5df9416c-c474-4f16-b0f5-8d173c4aef42",
              "leftValue": "={{ $json.difficulty_score }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        160
      ],
      "id": "c0e203fa-6c40-41e3-b873-6d336bf7e5b4",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f9bfd8-e85d-4a7c-b433-af35a834412b",
              "name": "risk_level",
              "value": "Medium Risk",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        64
      ],
      "id": "800a769f-9b62-47ed-9467-20baa7242b7d",
      "name": "Medium Risk"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00845d0d-71fe-4f5d-854f-63a3bf8872f8",
              "name": "risk_level",
              "value": "Low Risk",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        256
      ],
      "id": "b1f3edf9-35f2-4ff4-b166-363864088884",
      "name": "Low Risk"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        128
      ],
      "id": "12c17187-5d9f-4304-85ac-42d2769bedaa",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        144
      ],
      "id": "bc8ced95-b64c-4ad5-a876-513b617ede5a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "emissions_quantity",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        528,
        -128
      ],
      "id": "32a59938-29ac-4221-a322-995212219822",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        736,
        -128
      ],
      "id": "944344fd-2dc5-4f60-934f-f8849b62915e",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "sustainability-team@example.com",
        "subject": "URGENT: High ESG Risk Assessment Alert",
        "emailType": "text",
        "message": "=Dear {{ $json.source_name }},  \n\nYou have been identified as one of the  TOP 5 HIGHEST RISK suppliers in our  ESG assessment.  \n\nRisk Level: {{ $json.risk_level }} \nEmissions Quantity: {{ $json.emissions_quantity }} \nmetric tonnes Difficulty Score: {{ $json.difficulty_score }} \n\nImmediate action is required to reduce  your emissions. Please contact our  sustainability team urgently.  \n\nRegards, \nSustainability Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        944,
        -128
      ],
      "id": "2b4a3ff3-fdef-45e3-99a4-60dc8de79da9",
      "name": "Send a message",
      "webhookId": "10b76afc-f2a0-4fbb-95c7-75fdebbce221",
      "credentials": {
        "gmailOAuth2": {
          "id": "22YydF2QUuzQbbXm",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "High Risk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Medium Risk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Risk": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medium Risk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Low Risk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f4d3b63a-ff92-4b14-a8e9-bcd140467304",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33b106639acae0f319b4d9e5569aaaf2adc9ecd27fc8db99f21ce5b234e4415f"
  },
  "nodeGroups": [],
  "id": "zlhD3vzDISR4WOBk",
  "tags": []
}
